.home {
  position: relative;
}
.home .content {
  height: calc(100vh - 50px - 45px); /*navbar height = 50px */
  display: flex;
}
.home .content .list {
  width: 260px;
  background-color: #212121;
  color: #bed8f1;
  padding: 15px 0;
  height: 100%;
}
.home .content .list .option {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 35px;
  font-size: 15px;
  background-color: #0078d4;
  cursor: pointer;
}
.home .content .list .option span {
  margin-right: 15px;
}
.home .content .list .option span i {
  font-size: 18px;
}

.home .content .contacts-section {
  padding: 15px 0px 0;
  width: 385px;
  background-color: #333333;
  color: #fff;
  height: 100%;
  overflow-y: scroll;
}
.home .content .contacts-section h3 {
  height: 35px;
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 0 15px;
  margin-bottom: 10px;
}

.home .content .contacts-section .contacts-holder .contact {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #000;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.home .content .contacts-section .contacts-holder .contact:first-of-type {
  border-top: 1px solid #000;
}
.home .content .contacts-section .contacts-holder .contact:hover {
  background-color: #000;
}
.home .content .contacts-section .contacts-holder .contact .placeholder {
  background-color: rgb(129, 129, 129);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .content .contacts-section .contacts-holder .contact .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}
.home .content .contacts-section .contacts-holder .contact .info span {
  font-size: 12px;
}
