.custom-btn {
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  background-color: #766df4;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.custom-btn:hover {
  background-color: #007bff;
}
@media (max-width: 330px) {
  .custom-btn {
    height: 28px !important;
    font-size: 12px;
  }
}
@media (min-width: 330px) and (max-width: 450px) {
  .custom-btn {
    height: 32px !important;
    font-size: 12px;
  }
}
